@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
body {
  background-color: hsl(148, 38%, 91%);
  font-family: "Karla", sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: hsl(187, 24%, 22%);
}
h2 {
  margin-top: 0;
}
.name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.email,
.message,
.query {
  margin-bottom: 20px;
}

form {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 20px;
}
button {
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  margin-top: 15px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid hsl(169, 82%, 27%);
}
span {
  color: hsl(169, 82%, 27%);
}
input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid hsl(187, 24%, 40%);
  outline: none;
}
.query {
  display: flex;
  gap: 7px;
}
.query > div {
  border: 1px solid hsl(187, 24%, 40%);
  height: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 161px;
  /* padding-left: 5px; */
  gap: 4px;
  height: 30px;
}
.consent {
  display: flex;
  align-items: center;
}
.consent > label {
  margin-left: 10px;
}
